@page
@using FinalProject.Models.Enums
@model RegisterModel
@{
    ViewData["Title"] = "Cadastro";
}

<div class="row justify-content-md-center">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="col-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control form-control-lg mb-2" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.CPF" class="form-control form-control-lg mb-2" aria-required="true" />
                <label asp-for="Input.CPF"></label>
                <span asp-validation-for="Input.CPF" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control form-control-lg mb-2" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg mb-5" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control form-control-lg mb-2" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control form-control-lg mb-2" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class = "form-group d-inline-flex w-100">
                <div class="form-floating col">  
                    <input type="date" asp-for="Input.BirthDate" class="form-control form-control-lg mb-2" aria-required="true" />
                    <label asp-for="Input.BirthDate"></label>
                    <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                </div>
                <div class="col-auto p-1"></div>
                <div class="form-floating col">
                    <input asp-for="Input.PhoneNumber" class="form-control form-control-lg mb-2" aria-required="true" />
                    <label asp-for="Input.PhoneNumber"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class = "form-group d-inline-flex w-100">
                <div class="form-floating col">
                    <select class="form-select" asp-for="Input.BiologicalSex" asp-items="Html.GetEnumSelectList<BiologicalSex>()">
                        <option selected="selected" value="">Selecione...</option>
                    </select>
                    <label asp-for="Input.BiologicalSex"></label>
                    <span asp-validation-for="Input.BiologicalSex" class="text-danger"></span>
                </div>
                <div class="col-auto p-1"></div>
                <div class="form-floating col">
                    <select class="form-select" asp-for="Input.Gender" asp-items="Html.GetEnumSelectList<Gender>()">
                        <option selected="selected" value="">Selecione...</option>
                    </select>
                    <label asp-for="Input.Gender"></label>
                    <span asp-validation-for="Input.Gender" class="text-danger"></span>
                </div>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-4">Cadastrar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
