@model FinalProject.Models.AppointmentSlot

@{
    ViewData["Title"] = "Consultas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultas</h2>
<h3>Editar</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-floating">
                <input asp-for="Start" class="form-control form-control-lg-2 mb-2" aria-required="true" />
                <label asp-for="Start"></label>
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select asp-for="ExamId" class ="form-control form-control-lg-2 mb-2" asp-items="ViewBag.ExamId"></select>
                <label asp-for="ExamId" class="control-label"></label>
                <span asp-validation-for="ExamId" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select asp-for="DoctorId" class ="form-control form-control-lg-2 mb-2" asp-items="ViewBag.DoctorId"></select>
                <label asp-for="DoctorId" class="control-label"></label>
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select asp-for="PatientId" class ="form-control form-control-lg-2 mb-2" asp-items="ViewBag.PatientId"></select>
                <label asp-for="PatientId" class="control-label"></label>
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">   
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a class = "btn btn-danger" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
