* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;    
}

body {
    background-color: #f1f1f1;
}

.container {
    width: 90%;
    margin: 0px auto;
}

h1{
    text-align: center;
    font-size: 2vw;
}

h2 {
    text-align: center;
    font-size: 2vw;
}


/* Tabela Periódica (tabela de cima) */

#tabela_periodica {
    table-layout: fixed;
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

a{
    text-decoration:none;
    color:inherit;
}

.elementos {
    border-radius: 3px;
    border: 1px solid;
}

.elementos:hover{
    cursor: pointer;
    transform: scale(1.5);
}

#separador{
    height: 20px;
}

/* Partes do elemento na tabela - para tamanho do texto e alinhamento */
.numero_elemento {
    text-align: left;
    font-size: 0.8vw;
}

.simbolo_elemento {
    text-align: center;
    font-size: 1.5vw;
    font-weight: bolder;
}

.nome_elemento {
    text-align: center;
    font-size: 1vw;
    overflow: hidden;
}

.peso_elemento {
    text-align: center;
    font-size: 1vw;
}

/* Legenda */

#legenda {
    display: grid;
    grid-template-columns: repeat(5, 15%);
    row-gap: 0.5em;
    margin: auto;
    justify-content: center;
}

.item_legenda {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
}

.quadrado_legenda {
    width: 10%;
    height: 100%;
    margin-right: 5%;
}


/* Tabela de Detalhes (tabela de baixo) */

#tabela_detalhes {
    width: 60%;
    margin: auto;
    border-collapse: collapse;  
    font-size: 1.2vw;
}

th{
    font-size: 1.2vw;
    text-align: center;
}

.linhas_tabela {
    border: 1px solid;
    text-align: center;
}

/* Classes de elementos - para cores de fundo nas tabelas */
.nao-metais {
    background: #52ee61
}

.gases-nobres {
    background: #759fff
}

.alcalinos {
    background: #ecbe59
}

.alcalino-terrosos {
    background: #dee955
}

.semimetais {
    background: #3aefb6
}

.halogenios {
    background: #62d5c4
}

.metais-transicao {
    background: #fd8572
}

.outros-metais {
    background: #4cddf3 
}

.lantanideos {
    background: #ec77a3
}

.actinidios {
    background: #c686cc
}

#botao_inicio {
    position: fixed;
    width: 5%;
    height: 5%;
    right: 5%;
    bottom: 5%;
    text-align: center;    
    background-color: #8d7777;
    border: 1px solid #ced4da;
    border-radius:10%;
}


